<!-- sections/main-index -->
<section>
  <div class="container">
    <div class="row vh-100 align-items-center">
      <div class="col-md-10 mx-auto text-center">
        <h1 class="mb-3">Hello Welcome here!</h1>
        <a href="/products/firebee-headband" class="btn btn-default border border-1">Go to product page</a>
      </div>
    </div>
  </div>
</section>